@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
	text-align: justify;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    color: white;
	background: black;
}

/* ----HOME------ */

section{
    min-height: 100vh;
    padding: 3rem 9% 3rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 4rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: #1959d1;
}

.home-content h3{
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-content p{
    font-size: 1.6rem;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #1959d1;
    cursor: pointer;
    transition: 0.2s linear;
}

.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid #1959d1;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
    color: #1959d1;
}

.social-icons a:hover{
    color: black;
    transform: scale(1.3) translateY(-5px);
    background-color: #1959d1;
    box-shadow: 0  0 25px #1959d1;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #1959d1;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #1959d1;
    transition: 0.3s ease;
    cursor: pointer;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #1959d1;
    color: black;
    box-shadow: 0 0 25px #1959d1;
}

/* ------------------------------------------- */


/* ----------- ABOUT ME ------------- */

.about {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
    background-color: #333;
}

.about-img {
	display: grid;
	place-items: center;
}

.about-img img {
	position: relative;
	width: 30vw;
	border-radius: 50%;
	cursor: pointer;
}

.heading {
	text-align: center;
	font-size: 4rem;
}

.about-content h2 {
	text-align: left;
	line-height: 1.5;
}

.about-content h3 {
	font-size: 2rem;
}

.about-content p {
	font-size: 1.1rem;
	margin: 2rem 0 3rem;
}
.btn-skill{
    background-color: #333;
}


/* ------------------------------------------- */

/* ----education$skill */
.two-columns {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Chia thành 2 cột bằng nhau */
    gap: 30px; /* Khoảng cách giữa 2 cột */
    padding: 50px;
    background-color: black;
    margin: 30px 0;
}

/* Styles for Education Column */
.education {
    padding: 30px;
    background-color: black;
    border-radius: 10px;
}

/* Styles for Skills and Languages Column */
.skills-languages {
    padding: 30px;
    background-color: #333;
    border-radius: 10px;
}

/* Timeline container */
.timeline .container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 30px;
    margin-top: 30px;
}

/* Column for year */
.year {
    flex: 1; 
    font-size: 1em;
    color: #f2b441;
    text-align: right; 
    padding-right: 20px;
    border-right: 2.5px solid #f2b441; /* Đường thẳng chia cách */
}

/* Column for details */
.details {
    flex: 3;
    padding-left: 25px;
}

.details h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Styles for Skills Column */
.skill-item i {
    font-size: 70px; /* Điều chỉnh kích thước lớn hơn */
    color: #f2b441;  /* Đặt màu sắc cho biểu tượng nếu cần */
}

.skill-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Tạo 3 cột với chiều rộng bằng nhau */
    gap: 10px; /* Khoảng cách giữa các skill items */
    padding: 20px;
}

.skill-item {
    flex: 1;
    font-size: 1em;
    color: #f2b441;
    text-align: left;
    padding-left: 20px;
    border-left: 2.5px solid #f2b441; 
}


/* ---HOBBIES----- */
.hobbies {
    text-align: center;
    margin: auto;
	background: #333;
}

.hobbies h2 {
    font-size: 2em;
    font-family: 'Georgia', serif;
    margin-bottom: 20px;
}

.hobby-container {
    display: flex;
    justify-content: space-around; /* Tạo khoảng cách đều giữa các mục */
    align-items: center;
    width: 100%;
    flex-wrap: wrap; /* Đảm bảo mục không bị tràn trên màn hình nhỏ */
}

.hobby-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    flex: 1 1 20%; /* Đảm bảo các mục chiếm tỷ lệ phù hợp và không tràn */
    padding: 10px;
}

.hobby-item i {
    font-size: 3em;
    color: #f2b441; /* Màu biểu tượng */
    margin-bottom: 10px;
}

.hobby-item p {
    font-size: 0.9em;
    color: white;
    margin: 0;
}




